.normal {
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 12px; 
	color: #000000; 
	text-decoration: none; 
	font-weight: normal}

.normal a:link {
	color: #336666; 
	text-decoration: none;
	}
.normal a:visited {
	color: #336666; 
	text-decoration: none;
	} 
.normal a:hover {
	color: #336666; 
	text-decoration: underline;
	}
	
.normal_red {
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 12px; 
	color: #990000; 
	text-decoration: none; 
	font-weight: normal}

.normal_blue {
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 12px; 
	color: #006699; 
	text-decoration: none; 
	font-weight: normal}
	
.normal_gray {
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 12px; 
	color: #666666; 
	text-decoration: none; 
	font-weight: normal}

.nav {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	text-decoration: none;
	font-weight: bold
	}
.nav a:link, .nav a:visited,  .nav a:active{
	color: #FFFFFF;
	text-decoration: none;
	}
.nav a:hover {
	color: #000000;
	text-decoration: none;
	}

.whitetext {
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 12px; 
	color: #FFFFFF; 
	text-decoration: none; 
	font-weight: normal}
.whitetext a:link, .whitetext a:visited,  .whitetext a:active{
	color: #99CCCC; 
	text-decoration: none; 
	}
.whitetext a:hover {
	color: #99CCCC; 
	text-decoration: underline;
	}

.small {
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 9px; 
	font-weight: bold; 
	color: #666666; 
	text-decoration: none
}
.small a:link {
	color: #666666; 
	text-decoration: none
	}
.small a:visited {
	color: #666666; 
	text-decoration: none
	}
.small a:hover {
	color: #666666; 
	text-decoration: underline
	}
	
.smallblack {
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 9px; 
	font-weight: normal; 
	color: #000000; 
	text-decoration: none
}
.smallblack a:link, .smallblack a:visited,  .smallblack a:active{
	color: #000000; 
	text-decoration: none
}
.smallblack a:hover {
	color: #666666; 
	text-decoration: underline
	}
	
.smallwhite {
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 9px; 
	font-weight: bold; 
	color: #FFFFFF; 
	text-decoration: none
}
.smallwhite a:link, .smallwhite a:visited,  .smallwhite a:active{
	color: #FFFFFF; 
	text-decoration: none
}
.smallwhite a:hover {
	color: #FFFFFF; 
	text-decoration: underline
	}
	
.headline {
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 15px; font-weight: 
	bold; color: #000000; 
	text-decoration: none
}
.headline a:link {
	color: #000000; 
	text-decoration: none
	}
.headline a:visited {
	color: #000000; 
	text-decoration: none
	}
.headline a:hover {
	color: #000000; 
	text-decoration: underline
	}

.subhead {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	text-decoration: none;
	font-style: italic;
	font-weight: bold;
}
.subhead a:link, .subhead a:visited,  .subhead a:active{
	color: #000000; 
	text-decoration: underline
}
.subhead a:hover {
	color: #000000; 
	text-decoration: underline
	}

.subhead_light {
	font-family: Helvetica, sans-serif; 
	font-size: 14px; 
	font-weight: normal; 
	color: #000000; 
	text-decoration: none
}
.subhead_light a:link, .subhead_light a:visited, .subhead_light a:active{
	color: #000000; 
	text-decoration: none
}
.subhead_light a:hover {
	color: #000000; 
	text-decoration: underline
	}
	
.subhead_white {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #ffffff;
	text-decoration: none;
	font-style: italic;
	font-weight: bold;
}
.subhead_white a:link, .subhead a:visited, .subhead a:active;
{
	color: #99CCCC; 
	text-decoration: none;
}
.subhead_white a:hover {
	color: #99CCCC; 
	text-decoration: underline;
	}

.blue_title {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #336666;
	text-decoration: none;
}
.blue_title a:link, .blue_title a:visited,  .blue_title a:active{
	color: #336666; 
	text-decoration: none
}
.blue_title a:hover {
	color: #666666; 
	text-decoration: underline
	}
	
.top_menu {
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 11px; 
	font-weight: normal; 
	color: #000000; 
	text-decoration: none
}
.top_menu a:link, .top_menu a:visited,  .top_menu a:active{
	color: #000000; 
	text-decoration: none
}
.top_menu a:hover {
	color: #003366; 
	text-decoration: none
	}
	
.lh_menu {
	border: 1px solid #F6F6F6;
}
.lh_menu a:link, .lh_menu a:visited,  .lh_menu a:active{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	display:block;
	text-decoration:none;
	font-weight: normal;
	color:#000000;
	padding-left: 8px;
	padding-right: 2px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-bottom: 1px inset #F6F6F6;
}
.lh_menu a:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	display:block;
	text-decoration:none;
	font-weight: normal;
	color:#FFFFFF;
	background-color: #006699;
}

.white_menu {
	border: 1px;
}
.white_menu a:link, .white_menu a:visited, .white_menu a:active{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	display:block;
	text-decoration:none;
	font-weight: normal;
	color:#FFFFFF;
	padding-left: 8px;
	padding-right: 2px;
	padding-top: 4px;
	padding-bottom: 4px;
	border-bottom: 1px;

}
.white_menu a:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	display:block;
	text-decoration:none;
	font-weight: normal;
	color:#ffffff;
	background-color: #003366;
}

.drop_menu {
	border: 1px solid #cccccc;
	background:	#FFFFFF;
	filter:				alpha(Opacity=90);
	-moz-opacity:		0.9;
}
.drop_menu a:link, .drop_menu a:visited,  .drop_menu a:active{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	display:block;
	text-decoration:none;
	font-weight: normal;
	color:#006600;
	padding-left: 5px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-bottom: 1px inset #CDCDCD;

}
.drop_menu a:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	display:block;
	text-decoration:none;
	font-weight: normal;
	color:#ffffff;
	background-color: #006699;
}

.table_small {
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 8px; 
	font-weight: normal; 
	color: #000000; 
	text-decoration: none
}

.white_title {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #ffffff;
	text-decoration: none;
	font-style: italic;
}
.white_title a:link, .blue_title a:visited, .blue_title a:active;
{
	color: #ffffff; 
	text-decoration: none
}
.white_title a:hover {
	color: #ffffff; 
	text-decoration: underline;
	}
